:root {
    --green-color: rgb(3,199,46);
    --container-height: 80vh;
    --container-width: 80vw;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

body {
    justify-content: center;
    background-color: rgb(10, 10, 10);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    align-content: center;
}

/* animation for logo */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* animation for modal */
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

.container {
    box-sizing: border-box;
    display: flex;
    height: var(--container-height);
    width: var(--container-width);
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    justify-content: center;
    align-content: center;
}

/* left-side panel: picture, logo and text */
.left {
    width: 45%;
    background-image: url('images/matrix-background-1-crop.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    top: 28vh;
    gap: 1vw;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

.matrix {
    color: white;
    font-size: 4.5vh;
    line-height: 6vh;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.3rem;
}

.logo img {
    height: 15vh;
}

.logo img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

/* right-side panel: message, form, avatar selection, submit and existing user link */
.right {
    display: flex;
    width: 55%;
    flex-flow: column nowrap;
    justify-content: center;
    background-image: url('images/matrix-background-3.jpg');
    background-size:cover;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;    
}

/* displayed message */
.message {
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    font-size: 0.9rem;
    color: white;
    width: 100%;
    padding-left: 1vw;
    padding-right: 2vw;
    padding-bottom: 3vh;
    padding-top: 3vh;
}

.message > p {
    padding-bottom: 1.5vh;
}

/* personal info input fields */
.data {
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    color: var(--green-color);
    display: flex;
    flex-flow: row wrap;
    gap: 0.8rem;
    align-content: center;
    width: 100%;
    padding: 0 1vw;
    padding-bottom: 2vh;
}

.personalInfo {
    display: flex;
    flex-flow: column wrap;
    width: 30%;
    font-size:0.8rem;
}

.personalInfo > input {
    background-color: black;
    border-color: white;
    border-width: 1px;
    padding: 5px;
    margin-top: 5px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 6px;
    height: 2.2vh;
    width: 12vw;
}

.personalInfo input:focus {
    background-color: rgb(63, 189, 91);
  }

.personalInfo .error {
    background-color: rgb(250, 136, 136);
  }

.personalInfo .password-error {
    color: red;
    font-weight: 400;
}

/* avatar selection */
.ava {
    box-sizing: border-box;
    color: var(--green-color);
    display: flex;
    gap: 1rem;
    align-content: center;
    width: 100%;
    font-size: 0.8rem;
}

.avatarChoose {
    display: flex;
    flex-direction: column;
}

#avatarTitle {
    color: var(--green-color);
    padding-bottom: 1vh;
    font-size: 0.8rem;
}

#avatarSelection {
    margin-bottom: 2vh;
    display:inline-block;

}
.avatars img {
    height: 100px;
    width: 100px;
    border-radius: 16px;
    cursor: pointer;
}

.avatars img:hover, .avatars-choose img:hover {
    transform: scale(1.1);
}

.avatars > input, .avatars-choose > input{
    display: none;
  }

.avatars > input + img {
    cursor: pointer;
    border: 2px solid transparent;
  }

.avatars > input:checked + img, .avatars-choose > input:checked + img{
    border: 2px solid var(--green-color);
}

.avatars-choose > input + img {
    cursor: pointer;
    border-color: rgb(54, 53, 53);
    border-style: dotted;
    border-width: 3px;
    height: 100px;
    width: 100px;
    border-radius: 16px;
}

.avatars-choose > input {
    content: "upload your own";
}

input[type=file]::file-selector-button {
    visibility: hidden;
}

#avatar {
    color: transparent;
}

input[type=file]::-webkit-file-upload-button {
    margin-top: 10px;
    visibility: hidden;
}

input[type=file]::before {
    content: "Upload Your Own";
    color: var(--green-color);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
}

/* submit button */
button[type=submit] {
    background-image: linear-gradient(to right, var(--green-color) 0%, blue 60%, var(--green-color) 100%);
    background-size: 200% auto;
    color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: var(--green-color);
    border-width: 1px;;
    padding: 5px;
    outline: none;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    width: 15em;
    transition: 1s;
    cursor: pointer;
}

button[type=submit]:hover {
    background-position: right center;
}

.submission {
    background-color: rgba(0,0,0,0.7);
}

/* sign-in for existing user */
.sign-in {
    display: flex;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.7);
    padding: 0 1vw;
}

.sign-in > p {
    font-size: smaller;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

a {
    color: var(--green-color);
}

/* modal styling */
/* modal image */ 

.hide {
    display:none;
}

.show {
    display:block;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
 
#myImg:hover {opacity: 0.7;}

/* modal background */
.modal {
    box-sizing: border-box;
    padding: 20vh;
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 10vh;
    width: 100%;
    height: var(--container-height); 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
  }
  
  /* modal content */
  .modal-content {
    margin: auto;
    display: block;
  }
  
  /* modal caption */
  #caption {
    margin: auto;
    display: block;
    text-align: center;
    color: var(--green-color);
    padding: 10px 0;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vh;
  }
  
  /* modal animation */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  /* close button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: var(--green-color);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color:white;
    text-decoration: none;
    cursor: pointer;
  }